/* App.css */
.App {
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
    text-align: left;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .card p {
    font-size: 0.9rem;
  }
  
  .card button {
    background-color: #00c3ff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .card button:hover {
    background-color: #0044ff;
  }
  
  .cart {
    display: flex;
    align-items: center;
  }
  
  .cart-count {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    color: #fff;
  }
  
  .box {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  /* Media query for screens smaller than 600px */
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
    }
  
    .product-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%;
      margin: 1rem 0;
    }
  
    .box {
      flex-direction: column;
      gap: 10px;
    }
  }
  